{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": ["@babel/plugin-proposal-class-properties"],
	"overrides": [
		{
			"test": ["./src/**/*.tsx", "./src/*.tsx", "./src/*.ts", "./src/**/*.ts"],
			"presets": ["@babel/preset-typescript"]
		}
	]
}
