input::-webkit-calendar-picker-indicator {
	display: none;
}

*:focus {
	outline: none;
}

textarea:focus,
input:focus {
	outline: none;
}
input {
	border: 0px;
	/* max-width: 100px; */
}

datalist {
	-webkit-appearance: none;
}

option {
	-webkit-appearance: none;

	border: 2px solid red;
}
